
.btn-ticket {
    margin-top: 25px;
}

.form-ticket {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(103, 103, 103, 0.15);
    margin-top: -30px;
    position: relative;
}

.tiket-rute h1 > span {
    color: #56BD54;
}

.info-pass > p {
    margin-right: 15px;
    font-size: 1.2em;
    color: #585858;
}

.waktu h4 {
    color: #56BD54;
}

.waktu p {
    color: #585858;
    font-size: 1.1em;
}

.btn-tiket {
    background-color: #56BD54 !important;
}
