<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <style th:inline="text">
        .hero-image {
            background-image: url([[@{/images/bandara.jpg}]]);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 320px;
            width: 100%;
        }
    </style>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Pesan ticket pesawat</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <a th:href="@{/}" class="text-decoration-none text-reset">
        <h3>EasyPay</h3>
      </a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}" >Beranda</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/shop}">Shop</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" th:href="@{/pesawat}" >Tiket Pesawat</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" >Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" >Logout</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/cart}" >Cart</a>
        </li>
        <li class="nav-item active">
          <span class="nav-link" th:text="${cartCount}">0</span>
        </li>
      </ul>

    </div>
  </div>
</nav>

  <main>
    <section class="hero-image"></section>
    <section class="section-form-ticket">
      <div class="container">
        <div class="form-ticket">
          <h3 class="fw-bold mb-4">Pesan tiket pesawat dengan mudah</h3>
          <form method="get" th:action="@{/pesawat/tiket}">
            <div class="row align-items-center">
              <div class="col-sm">
                <h6>Kota Asal</h6>
                <select class="form-select" name="asal">
                  <option th:field="${pesawat1.kotaAsal}" th:value="Jakarta">Jakarta</option>
                  <option th:field="${pesawat1.kotaAsal}" th:value="Denpasar">Denpasar</option>
                  <option th:field="${pesawat1.kotaAsal}" th:value="Medan">Medan</option>
                </select>
              </div>

              <div class="col-sm">
                <h6>Kota Tujuan</h6>
                <select class="form-select" name="tujuan">
                  <option th:field="${pesawat2.kotaAsal}" th:value="Denpasar">Denpasar</option>
                  <option th:field="${pesawat2.kotaAsal}" th:value="Medan">Medan</option>
                  <option th:field="${pesawat2.kotaAsal}" th:value="Padang">Padang</option>
                </select>
              </div>

              <div class="col-sm">
                <h6>Berangkat</h6>
                <input type="date" class="form-control" name="tglBerangkat" th:field="${tiket.tglBerangkat}">
              </div>

              <div class="col-sm">
                <h6>Tipe Kelas</h6>
                <select class="form-select" name="tipeKelas">
                  <option th:field="${pesawat1.tipeKelas}" th:value="Ekonomi">Ekonomi</option>
                </select>
              </div>

              <div class="col-sm-auto">
                <button type="submit" class="btn btn-ticket btn-success fw-bold">Cari Tiket</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>