<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Home</title>
    
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <a th:href="@{/}" class="text-decoration-none text-reset">
                <h3>EasyPay</h3>
            </a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link active" th:href="@{/}" >Beranda</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}">Shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/pesawat}" >Tiket Pesawat</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" >Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" >Logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" >Cart</a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>
            </ul>

        </div>
    </div>
</nav>

<main style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a th:href="@{/shop}" class="text-reset text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Shopping</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm">
                <a th:href="@{/pesawat}" class="text-reset text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Tiket Pesawat</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm">
                <a th:href="@{/topup}" class="text-reset text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Tagihan Listrik</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm">
                <a th:href="@{/paketdata}" class="text-reset text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Paket Data</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>