<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>List Tiket</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body style="background: #F5F5F5;">

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <a th:href="@{/}" class="text-decoration-none text-reset">
        <h3>EasyPay</h3>
      </a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}" >Beranda</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/shop}">Shop</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/pesawat}" >Tiket Pesawat</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" >Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" >Logout</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/cart}" >Cart</a>
        </li>
        <li class="nav-item active">
          <span class="nav-link" th:text="${cartCount}">0</span>
        </li>
      </ul>

    </div>
  </div>
</nav>

  <main style="margin-top: 75px;">
    <div class="container">
      <section class="tiket-rute">
        <h1>
          <span class="fw-bold" th:text="${asal}"></span>
          <span class="fw-bold">&#8594;</span>
          <span class="fw-bold" th:text="${tujuan}">Denpasar</span>
        </h1>
      </section>

      <section class="info-pass d-flex mt-2">
        <p th:text="${date}">12-05-2023</p>
        <p><span>1</span> Penumpang</p>
        <p>Ekonomi</p>
      </section>

      <h3 style="margin-top: 50px">Menampilkan tiket yang tersedia</h3>

      <section class="list-tiket">
        <div class="row align-items-center justify-content-center mt-1 gy-4">

          <div th:each="pes : ${listPesawat}" class="col-sm-6">
            <div class="tiket border border-0 card p-4 bg-white shadow-sm">
              <h5 th:text="${pes.namaMaskapai}"></h5>
              <div class="row align-items-center justify-content-between">
                <div class="departure col-sm-auto">
                  <div class="row align-items-center">
                    <div class="waktu col-auto">
                      <h4 class="fw-bold" th:text="${pes.waktuTerbang}"></h4>
                      <p class="m-0" th:text="${pes.kotaAsal}"></p>
                    </div>
                    <div class="arrow col-auto">
                      <span class="fs-2">&#8594;</span>
                    </div>
                    <div class="waktu col-auto">
                      <h4 class="fw-bold" th:text="${pes.waktuSampai}"></h4>
                      <p class="m-0" th:text="${pes.kotaTujuan}"></p>
                    </div>
                  </div>
                </div>

                <div class="price col-sm-auto text-end">
                  <h5 class="fw-bold">Rp <span th:text="${pes.harga}"></span>/org</h5>
                  <button type="button" class="btn btn-primary btn-tiket" data-bs-toggle="modal"
                          data-bs-target="#modal-passanger" th:value="${pes.id}" style="width: 130px;"
                          th:attr="data-tgl=${date}">
                    Pilih
                  </button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </section>

    </div>
  </main>


  <!-- Modal -->
  <div class="modal fade" id="modal-passanger" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Pesan Tiket</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" th:action="@{/pesawat/tiket/saveTicket}" >
            <div class="mb-3">
              <label for="pass-name" class="col-form-label">Nama Lengkap</label>
              <input type="text" class="form-control" id="pass-name" name="namaPenumpang" th:field="${tiket.namaPenumpang}"
                     required>
              <input type="hidden" name="idPes" id="idPes" th:field="${pesawat.id}">
              <input type="hidden" name="tglTik" id="tglTik" th:field="${tiket.tglBerangkat}">
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Proses</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script th:inline="text">
    const modal = document.getElementById('modal-passanger')
    modal.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
      const button = event.relatedTarget

      // Extract info from attributes
      const passanger = button.getAttribute('value')
      const idPes = modal.querySelector("#idPes")
      idPes.setAttribute("value", passanger)

      const tglDate = button.getAttribute('data-tgl')
      const tglTik = modal.querySelector("#tglTik")
      tglTik.setAttribute("value", tglDate)
    })
  </script>
</body>
</html>