<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
					<a th:href="@{/}" class="text-decoration-none text-reset">
						<h3>EasyPay</h3>
					</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}" href="#">admin-home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container row">
		<div class="col-4">
			<form th:action="@{/listrik/save}" th:object="${listrik}" method="post">

				<div>
					<br>
					<br>
					<label>No. Meter</label>
					<input type="text" th:field="*{noMeter}" placeholder="Masukan No.Meter / ID PEL" />
					<div>
						<label>Jumlah Tagihan (IDR)</label>
						<input type="text" th:field="*{harga}" placeholder="Masukan Jumlah tagihan" />
					</div>
				</div>
				<br>
				<div class="d-grid gap-2 col-6 mx-auto">
					<input type="submit" class="btn btn-primary" value="Tambah TAGIHAN" />
				</div>
			</form>
		</div>
		<div class="col-8">
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>No. Meter / ID Pelanggan</td>
							<td>Tagihan (IDR)</td>
							<td> Action</td>
						</tr>
					</thead>
					<tbody th:each="listrik : ${listriks}">
						<tr>
							<td th:text="${listrik.noMeter}"></td>
							<td th:text="${listrik.harga}"></td>
							<td>
								<button type="button" class="btn btn-danger"
									th:onclick="deleteData('[[${listrik.id}]]')">DELETE</button>
							</td>
				</table>
			</div>

		</div>
	</div>

<script inline="javascript">
	/*<![CDATA[*/
	var baseUrl = /*[[@{/}]]*/ "";
	/*]]>*/
	function deleteData(data) {
		var conf = confirm("Hapus Tagihan? ")
		if (conf == true) {
			window.location = baseUrl + "/listrik/delete?id=" + data
		}
		return false;
	}
	function clearSearch() {
		window.location = "[[@{/listrik}]]";
	}
</script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>