<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>
	<meta charset="UTF-8" />
	<title>TAGIHAN LISTRIK INPUT</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<style>
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			text-align: center;
		}
	</style>
</head>
<nav class="navbar bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand text-white" href="#">BANK PROVIDER</a>
	</div>
</nav>

<body>
	<br>
	<div class="container row">
		<div class="col-4">
			<form th:action="@{/listrik/save}" th:object="${listrik}" method="post">

				<div>
					<br>
					<br>
					<label>No. Meter</label>
					<input type="text" th:field="*{noMeter}" placeholder="Masukan No.Meter / ID PEL" />
					<div>
						<label>Jumlah Tagihan (IDR)</label>
						<input type="text" th:field="*{harga}" placeholder="Masukan Jumlah tagihan" />
					</div>
				</div>
				<br>
				<div class="d-grid gap-2 col-6 mx-auto">
					<input type="submit" class="btn btn-primary" value="Tambah TAGIHAN" />
				</div>
			</form>
		</div>
		<div class="col-8">
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>No. Meter / ID Pelanggan</td>
							<td>Tagihan (IDR)</td>
							<td> Action</td>
						</tr>
					</thead>
					<tbody th:each="provider : ${listriks}">
						<tr>
							<td th:text="${listrik.noMeter}"></td>
							<td></td>
							<td>
								<button type="button" class="btn btn-danger"
									th:onclick="deleteData('[[${listrik.id}]]')">DELETE</button>
							</td>
				</table>
			</div>

		</div>
	</div>

</body>
<footer class=" bg-light text-center text-lg-start">
	<div class="footer text-center p-3 bg-primary" style="background-color: primary" ;>
		<a class="text-white" href="https://gitlab.com/bigg.iqbal">© iqbal</a>
	</div>
</footer>

<script inline="javascript">
	/*<![CDATA[*/
	var baseUrl = /*[[@{/}]]*/ "";
	/*]]>*/
	function deleteData(data) {
		var conf = confirm("Hapus Tagihan? ")
		if (conf == true) {
			window.location = baseUrl + "listrik/delete?id=" + data
		}
		return false;
	}
	function clearSearch() {
		window.location = "[[@{/listrik}]]";
	}
</script>

</html>