<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Paket Data Home</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<a th:href="@{/}" class="text-decoration-none text-reset">
				<h3>EasyPay</h3>
			</a>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto"></ul>
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}" >Beranda</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/shop}">Shop</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/pesawat}" >Tiket Pesawat</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" >Login</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" >Logout</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/cart}" >Cart</a>
				</li>
				<li class="nav-item active">
					<span class="nav-link" th:text="${cartCount}">0</span>
				</li>
			</ul>

		</div>
	</div>
</nav>

	<div class="container mt-5">
		<h1 class="text-center font-weight-normal"> Pembelian Paket Data Internet </h1>
	</div>

	<div class="container mt-4 d-flex mb-5">
		<div class="row">
			<div class="col-md-5 mt-5">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">2.5GB / 5 Hari</h2>
						<div class="d-flex justify-content-between">
							<p class="card-text">Freedom Internet 2.5GB/5hari</p>
							<p class="card-text mr-4 text-success">Rp10950</p>
						</div>
						<a href=# class="card-link" data-toggle="modal" data-target="#ModalId" 
						th:attr="data-paket='Freedom Internet 2.5GB/5hari'">More</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 mt-5">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">5GB / 5 Hari</h2>
						<div class="d-flex justify-content-between">
							<p class="card-text">Freedom Internet 5GB/5hari</p>
							<p class="card-text mr-4 text-success">Rp14900</p>
						</div>
						<a href=# class="card-link" data-toggle="modal" data-target="#ModalId">More</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 mt-5">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">7GB / 7 Hari</h2>
						<div class="d-flex justify-content-between">
							<p class="card-text">Freedom Internet 7GB/7hari</p>
							<p class="card-text mr-4 text-success">Rp19900</p>
						</div>
						<a href=# class="card-link" data-toggle="modal" data-target="#ModalId" >More</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 mt-5">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">5.5GB / 30 Hari</h2>
						<div class="d-flex justify-content-between">
							<p class="card-text">Freedom U 5.5GB/30hari</p>
							<p class="card-text mr-4 text-success">Rp30900</p>
						</div>
						<a href=# class="card-link" data-toggle="modal" data-target="#ModalId">More</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 mt-5">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">6GB / 5 Hari</h2>
						<div class="d-flex justify-content-between">
							<p class="card-text">Freedom Internet 6GB/5hari</p>
							<p class="card-text mr-4 text-success">Rp18000</p>
						</div>
						<a href=# class="card-link" data-toggle="modal" data-target="#ModalId">More</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 mt-5">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">7GB / 30 Hari</h2>
						<div class="d-flex justify-content-between">
							<p class="card-text">Freedom Internet 7GB/30hari</p>
							<p class="card-text mr-4 text-success">Rp35900</p>
						</div>
						<a href=# class="card-link" data-toggle="modal" data-target="#ModalId">More</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 mt-5">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">16GB / 30 Hari</h2>
						<div class="d-flex justify-content-between">
							<p class="card-text">Freedom Internet 16GB/30hari</p>
							<p class="card-text mr-4 text-success">Rp99900</p>
						</div>
						<a href=# class="card-link" data-toggle="modal" data-target="#ModalId">More</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 mt-5">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">12GB / 7 Hari</h2>
						<div class="d-flex justify-content-between">
							<p class="card-text">Freedom Internet 12GB/7hari</p>
							<p class="card-text mr-4 text-success">Rp21900</p>
						</div>
						<a href=# class="card-link" data-toggle="modal" data-target="#ModalId">More</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Code -->

		<div class="modal fade" id="ModalId">
			<div class="modal-dialog bg-success">
				<div class="modal-content" style="transform: scaleX(1.4);">
					<div class="modal-header pb-2">
						<h1 class="font-weight-light ml-4">Confirmation</h1>
						<button type="button" class="close" data-dismiss="modal" aria-label="close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row mt-2 p-3">
							<form method="POST" th:action="@{/paketdata/save}">
								<div class="col-md-6">
									<label>Pilih Provider</label>
									<div class="form-check">
										<input th:field="${pktForm.provider}" value="M3" class="form-check-input"
											type="radio" name="provider" id="flexRadioDefault3" autocomplete="off" checked>
										<label class="form-check-label" th:for="${pktForm.provider}">
											M3
										</label>
									</div>
									<div class="form-check">
										<input th:field="${pktForm.provider}" value="Telkomsel" class="form-check-input"
											type="radio" name="provider" id="flexRadioDefault3" autocomplete="off" checked>
										<label class="form-check-label" th:for="${pktForm.provider}">
											Telkomsel
										</label>
									</div>
									<div class="form-check">
										<input th:field="${pktForm.provider}" value="XL" class="form-check-input"
											type="radio" name="provider" id="flexRadioDefault3" autocomplete="off" checked>
										<label class="form-check-label" th:for="${pktForm.provider}">
											XL
										</label>
									</div>
								</div>
								<div class="col-md-6">
									<p style="box-sizing: border-box" class="product_desc">Yakin membeli paket internet
										ini?</p>
									<h4 class="product_price"></h4>
									<label class="form-label">Masukkan Nomor Telepon</label>
									<input th:field="*{pktForm.nomor}" type="text" class="form-control" name="notelp" autocomplete="off">
									<input type="hidden" id="paketName" th:field="${pktForm.namaPaket}">
									<div id="liveAlertPlaceholder"></div>
									<button type="submit" class="btn btn-primary" id="liveAlertBtn">Process
										Data</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script th:inline="text">
	const mdl = document.getElementById("ModalId")
	mdl.addEventListener('show.bs.modal', event => {
	  // Button that triggered the modal
	  const button = event.relatedTarget
	  // Extract info from data-bs-* attributes
	  const paket = button.getAttribute('data-paket')
	  // If necessary, you could initiate an AJAX request here
	  // and then do the updating in a callback.
	  //
	  // Update the modal's content.
	  const inputPaket = button.querySelector("#paketName")
	  console.dir(event)
	  inputPaket.setAttribute("value", paket)
	  
	})
	</script>
	<script type="text/javascript">
		$(document).click(function () {
			$(".card-link").click(function () {
				$(".rounded").attr("src", $(this).parent().siblings().attr("Src"));
				$(".product_name").text($(this).siblings("h2").text());
			});
			$(window).resize(function () {
				if ($(window).width() < 600) {
					$(".modal-content").css("transform", "scaleX(1)");
				}
				else {
					$(".modal-content").css("transform", "scaleX(1.4)");
				}
			});
		});
	</script>
	<script type="text/javascript">
		const alertPlaceholder = document.getElementById('liveAlertPlaceholder')

		const alert = (message, type) => {
			const wrapper = document.createElement('div')
			wrapper.innerHTML = [
				`<div class="alert alert-${type} alert-dismissible" role="alert">`,
				`   <div>${message}</div>`,
				'   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
				'</div>'
			].join('')

			alertPlaceholder.append(wrapper)
		}

		const alertTrigger = document.getElementById('liveAlertBtn')
		if (alertTrigger) {
			alertTrigger.addEventListener('click', () => {
				alert('Yay! Your internet has been Proceed.', 'success')
			})
		}
	</script>
</body>

</html>