
<!DOCTYPE html>
<html>

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <a th:href="@{/}" class="text-decoration-none text-reset">
                <h3>EasyPay</h3>
            </a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" >Beranda</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}">Shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/pesawat}" >Tiket Pesawat</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" >Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" >Logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" >Cart</a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>
            </ul>

        </div>
    </div>
</nav>

<head>
    <title>TOPUP</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<br>
<div class="container">
    <h1 class="text-center"> PEMBAYARAN </h1>
</div>
<br>
<div class=" container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#rekening" aria-current="page"
               href="#rekening">Rekening Listrik</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#token" href="#token">Token PLN</a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="tab-content">
        <div class="tab-pane active" id="rekening">
            <div class="row border g-0 rounded shadow-sm">
                <div class="col p-4">
                    <h3>Pembayaran Tagihan Listrik</h3>
                    <div class="row g-3 align-items-center">
                        <form method="post" th:action="@{/listrik/cektagihan}" >
                            <div class="col-auto">
                                <label for="rekening" class="col-form-label">No. Meter / ID Pelanggan</label>
                            </div>
                            <div class="col-auto">
                                <input type="input" id="rekening" class="form-control" th:field="${listrik.noMeter}"
                                       name="noMeter">
                            </div>
                            <div class="col-auto">
                                <button type="submit"
                                        class="btn btn-primary">Cek Tagihan</button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                    <div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td>No. Meter / Id Pelanggan</td>
                                <td>Tagihan (IDR)</td>
                                <td>Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="tag : ${tagihan}">
                                <td th:text="${tag.noMeter}"></td>
                                <td th:text="${tag.harga}"></td>
                                <td>
                                    <button type="button" class="btn btn-primary"> bayar </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="token">
            <div class="row border g-0 rounded shadow-sm">
                <div class="col p-4">
                    <h3>Pembelian Token PLN</h3>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="Token" class="col-form-label">No. Meter / ID Pelanggan</label>
                        </div>
                        <div class="col-auto">
                            <input type="form" id="Token" class="form-control">
                        </div>
                        <div class="col-auto">
                            <label for="Token" class="col-form-label">Nominal</label>
                        </div>
                        <select class="form-select col-auto">
                            <option selected>Pilih Nominal Token</option>
                            <option value="1">Rp20.000,00</option>
                            <option value="2">Rp50.000,00</option>
                            <option value="3">Rp100.000,00</option>
                            <option value="4">Rp200.000,00</option>
                            <option value="5">Rp500.000,00</option>
                        </select>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary">BELI</button>
                        </div>
                        <br>
                        <br>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td>No. Meter / Id Pelanggan</td>
                                <td>Nominal Token</td>
                                <td>Token Listrik</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>



</body>

</html>